<div class="Product-Main-Block">
  <div class="Product-Details-Block">
    <ul *ngFor="let item of productsList">
      <li>
        <div class="row">
          <div class="col-md-4">
            <img class="imageUse" src={{item.Image_Url}}>
          </div>
          <div class="col-md-8">
            <h3>{{item.brand_name}}</h3>
            <p>{{item.Offer_Text}}</p>
            <!-- <p>{{item.product_name}}</p> -->
            <p>{{item.quantity}}</p>
            <p>MRP :{{item.MRP}}</p>
            <p id="getExactPrice{{item.brand_name}}"> {{item.Price}}</p>

            <div class="row button-row">
              <div>
                <button class="btn btn-info " id="sub-{{item.brand_name}}"
                  (click)="clickSub(item.brand_name, inputId.value)">
                  <h6 class="plus-minus">-</h6>
                </button>
              </div>
              <div>
                <input type="text" class="form-control" id="getQtyFromProductsPage-{{item.brand_name}}" #inputId
                  value="1">
              </div>
              <div>
                <button class="btn btn-info marginleft" id="add-{{item.brand_name}}"
                  (click)="clickAdd(item.brand_name, inputId.value)">
                  <h6 class="plus-minus">+</h6>
                </button>
              </div>
              <div>
                <p id="theTotal{{item.brand_name}}">TheTotal:</p>
              </div>
              <div>
                <button class="btn btn-info">ADD TO CART</button>
              </div>
            </div>
            <!--     
            <div class="row">
              <div class="col-md-6">
                <button class="btn btn-primary" type="button">ADD CART</button>
              </div>
              <div class="col-md-6 ">
                <div class="row">
                  <div class="addQuantityUsage col-md-6">
                    <img src="../assets/Images/add.png">
                  </div>
                  <div class="removeQuantityUsage col-md-6">
                    <img src="../assets/Images/remove.png">
                  </div>
                </div>
              </div>
            </div>
     -->
          </div>
        </div>

      </li>
    </ul>
  </div>
</div>